@import "config";
@import "button";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  transition: 0.3s ease;
}

body {
  color: color(dark);
  overflow-x: hidden;
}

#header {
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .logo {
      img {
        width: 140px;
      }
    }

    #nav {
      ul {
        display: flex;
        gap: 1rem;

        li {
          color: color(gray-blue);

          a {
            font-weight: 500;
            padding-bottom: 1.5rem;

            &:hover {
              border-bottom: 3px solid color(green);
              color: color(dark);
            }
          }
        }
      }
    }
  }
}

section#hero {
  padding: 2rem 1rem 1rem;
  background-color: color(light-gray);
  position: relative;

  .bg {
    background: url("../images/bg-intro-desktop.svg") no-repeat center
      center/contain;
    position: absolute;
    top: -5%;
    right: -20%;
    width: 80%;
    height: 100%;
    z-index: 1;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;

    img {
      max-width: 100%;
      z-index: 10;
    }

    .hero__text {
      h1 {
        font-size: 2.2rem;
        margin-bottom: 1.4rem;
        line-height: 1.5;
      }

      p {
        line-height: 1.5;
        color: color(gray-blue);
        margin-bottom: 1rem;
      }
    }
  }
}

section#whychoose {
  background-color: color(light-gray-blue);
  padding: 4rem 1rem;

  .whychoose__title {
    margin-bottom: 3rem;
    width: 50%;

    h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    p {
      line-height: 1.5;
      color: color(gray-blue);
    }
  }

  .whychoose__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;

    .grid__item {
      .grid__image {
        width: 60px;
        height: 60px;
        margin-bottom: 1.5rem;
      }

      h3 {
        margin-bottom: 1rem;
        line-height: 1.3;
      }

      p {
        color: color(gray-blue);
        line-height: 1.5;
      }
    }
  }
}

section#articles {
  padding: 3rem 1rem;
  background-color: color(light-gray);

  .articles__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .articles__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1rem;

    .article__item {
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .article__image {
        height: 170px;

        img {
          max-width: 100%;
          min-height: 100%;
          border-radius: 0.2rem 0.2rem 0 0;
          object-fit: cover;
        }
      }

      .article__text {
        background-color: #fff;
        padding: 1rem;

        .article__author {
          font-size: 0.8rem;
          display: inline-block;
          margin-bottom: 0.7rem;
          color: color(gray-blue);
        }

        .article__title {
          line-height: 1.2;
          margin-bottom: 0.7rem;
          cursor: pointer;

          &:hover {
            color: color(green);
          }
        }

        p {
          line-height: 1.4;
          color: color(gray-blue);
        }
      }
    }
  }
}
