@import "config";
@import "button";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-stack;
  transition: 0.3s ease;
}

html,
body {
  color: color(dark);
  overflow-x: hidden;
}

#header {
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .logo {
      img {
        width: 140px;
      }
    }

    #nav {
      ul {
        display: flex;
        gap: 1rem;

        @include mobile {
          display: block;
          position: absolute;
          top: -50rem;
          left: 50%;
          transform: translateX(-50%);
          background-color: #fff;
          opacity: 0;
          padding: 1.5rem;
          border-radius: 0.5rem;
          width: 90vw;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          text-align: center;
          transition: 0.5s ease;

          &.nav-active {
            top: 110%;
            opacity: 1;
          }
        }

        li {
          color: color(gray-blue);

          @include mobile {
            line-height: 2.8;
          }

          a {
            font-weight: 500;
            padding-bottom: 1.5rem;

            &:hover {
              border-bottom: 3px solid color(green);
              color: color(dark);

              @include mobile {
                border-bottom: none;
              }
            }
          }
        }
      }
    }

    button {
      @include tablet {
        display: none;
      }
    }

    .menu-btn {
      display: none;

      @include mobile {
        display: block;
        cursor: pointer;
      }
    }
  }
}

section#hero {
  padding: 2rem 1rem 1rem;
  background-color: color(light-gray);
  position: relative;

  @include mobile {
    padding-top: 1rem;
  }

  .bg {
    background: url("../images/bg-intro-desktop.svg") no-repeat center
      center/cover;
    position: absolute;
    top: -5%;
    right: -20%;
    width: 80%;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    max-width: 100%;

    @include mobile {
      background-image: url("../images/bg-intro-mobile.svg");
      top: -15%;
      right: 0;
      width: 100%;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    align-items: center;

    @include mobile {
      grid-template-columns: 1fr;
      grid-template-areas:
        "picture"
        "writing";

      text-align: center;
    }

    img {
      max-width: 100%;
      z-index: 10;

      @include mobile {
        grid-area: picture;
      }
    }

    .hero__text {
      @include mobile {
        grid-area: writing;
      }

      h1 {
        font-size: 2.4rem;
        margin-bottom: 1.4rem;
        line-height: 1.5;

        @include mobile {
          font-size: 2.2rem;
        }
      }

      p {
        line-height: 1.5;
        color: color(gray-blue);
        margin-bottom: 1rem;
      }
    }
  }
}

section#whychoose {
  background-color: color(light-gray-blue);
  padding: 4rem 1rem;

  .whychoose__title {
    margin-bottom: 3rem;
    width: 50%;

    @include tablet {
      width: 80%;
    }

    @include mobile {
      width: 100%;
      text-align: center;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    p {
      line-height: 1.5;
      color: color(gray-blue);
    }
  }

  .whychoose__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .grid__item {
      .grid__image {
        width: 60px;
        height: 60px;
        margin-bottom: 1.5rem;
      }

      h3 {
        margin-bottom: 1rem;
        line-height: 1.3;
      }

      p {
        color: color(gray-blue);
        line-height: 1.5;
      }
    }
  }
}

section#articles {
  padding: 3rem 1rem;
  background-color: color(light-gray);

  .articles__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .articles__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1rem;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @include mobile {
      grid-template-columns: 1fr;
    }

    .article__item {
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);

      .article__image {
        height: 170px;

        img {
          max-width: 100%;
          border-radius: 0.2rem 0.2rem 0 0;
          object-fit: cover;
        }
      }

      .article__text {
        background-color: #fff;
        padding: 1rem;
        height: 100%;

        .article__author {
          font-size: 0.8rem;
          display: inline-block;
          margin-bottom: 0.7rem;
          color: color(gray-blue);
        }

        .article__title {
          line-height: 1.2;
          margin-bottom: 0.7rem;
          cursor: pointer;

          &:hover {
            color: color(green);
          }
        }

        p {
          line-height: 1.4;
          color: color(gray-blue);
        }
      }
    }
  }
}

#footer {
  background-color: color(dark);
  color: #fff;
  padding: 3rem 1rem;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-gap: 2rem;

    @include tablet {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .footer__info {
      .footer__logo {
        display: inline-block;
        margin-bottom: 2rem;

        img {
          width: 140px;
        }
      }

      .footer__socials {
        display: flex;
        gap: 0.7rem;

        @include tablet {
          justify-content: center;
        }

        .footer__social-link {
          display: inline-block;

          &:hover {
            color: color(green);
          }

          i {
            width: 16px;
          }
        }
      }
    }

    .footer__nav-links {
      li {
        line-height: 1.8;

        a:hover {
          color: color(green);
        }
      }
    }

    .footer__request {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      @include tablet {
        text-align: center;
        align-items: center;
      }

      button {
        margin-bottom: 2rem;
      }

      .copy {
        color: color(gray-blue);
        font-size: 0.8rem;
      }
    }
  }
}
